<div class="card">
    <div class="card-block">
        <h2 class="card-title text-xs-center">Terms and Conditions</h2>
        <br />
        <h4 class="card-title">Overview</h4>
        <p class="card-text">
            The following are terms and conditions that are a legal agreement between Omnae.com (Padtech Industries Limited), a BC corporation, and the user AND company listed above. These terms of service (along with Omnae’s Privacy Policy and Content Policy) govern the use of Omnae.com (“Omnae Website”), any mobile applications, APIs, services, features, and content offered by us.<br />
            By clicking the “Check” mark below, and using the services, you acknowledge that you have read, comprehended, and agree to be bound by these Terms and Conditions and to comply with all applicable laws and regulations.<br />
            You agree that all production files (2D and 3D files) uploaded to the Omnae Website are compliant with any Federal (US and Canadian, and Local to the User) laws or regulations including any related to firearms, explosives, and any other controlled product classes. 
        </p>

        <h4 class="card-title">Omnae Services</h4>
        <p class="card-text">
            Omnae Services comprise many different services that are provided through the Omnae Website. Our principle service is to facilitate the on-boarding, production, shipping, and quality management of your custom components and assemblies across a wide range of product types.
        </p>
        <p class="card-text">
            In order to use the Omnae Website to carry on your business, you will need to disclose sensitive production documentation, intellectual property, and trade secrets to us so that we can have your products manufactured. Further, we will need to disclose that information to relevant trusted production partners
        </p>


        <h4 class="card-title">Non-Disclosure Agreement (Mutual)</h4>
        <p class="card-text">
            In order to use the Omnae Website to carry on your business, you will need to disclose sensitive production documentation, intellectual property, and trade secrets to us so that we can have your products manufactured. Further, we will need to disclose that information to relevant trusted production partners.
        </p>
        <p class="card-text">
            Omnae holds it’s customer’s data and IP in the strictest confidence. By clicking the “Check” below, and using the Omnae Website, you agree to enter into the below mutual NDA with us.
            THIS MUTUAL CONFIDENTIALITY AND NON-DISCLOSURE AGREEMENT (Agreement”) is entered into and made effective as of [DATE] (“Effective Date”), by and between Padtech Industries Ltd, a British Columbia corporation (“Omnae”), and the agreeing party (the individual and represented company agreeing by clicking the “Check” mark below.
            Omnae may also offer alternative distribution methods for your products, including factory direct wholesale drop-shipping and crowdfunded production runs.
        </p>

        <h4 class="card-title">1  LIMITED PURPOSE.</h4>
        <p class="card-text">
            The purpose of this Agreement is to facilitate the exchange of information that each party considers proprietary or confidential. Each party is willing to disclose its confidential or proprietary information to allow the other party to review and examine the information for the sole purpose of evaluating technology and determining whether to enter into a relationship with the disclosing party. The intent of the parties is to protect the data or information which each elects to disclose, but not to obligate either party to disclose any data or information. 
        </p>

        <h4 class="card-title">2  DEFINITIONS.</h4>
        <h5>2.1 “Confidential Information”</h5>
        <p class="card-text">
            means any non-public information in written, electronic or other tangible form that is identified and marked as confidential or proprietary. Confidential Information also includes any non-public information disclosed orally or visually that is identified as confidential or proprietary at the time of disclosure by the Disclosing Party and summarized by the Disclosing Party as Confidential Information in a written memorandum delivered to the Receiving Party within thirty (30) days of the disclosure. For the purpose of demonstration and not limitation, the term “Confidential Information” includes, without limitations, customer lists, business plans and proposals, financial information, marketing information, technical information, pricing information, agreements, problem solving methods, implementation steps, know-how, technology, trade secrets and drawings and renderings related to each party’s ongoing and proposed businesses, products and services. Notwithstanding the foregoing, “Confidential Information” does not include any of the following: (a) information that is in or becomes part of the public domain without violation of this Agreement by the Receiving Party; (b) information that was rightfully known to or rightfully in the possession of the Receiving Party on a non-confidential basis prior to the disclosure thereof to the Receiving Party by the Disclosing Party, as evidenced by written records; (c) information that is developed independently by the Receiving Party’s employees who did not have access to the Disclosing Party’s Confidential Information, as established by written evidence; (d) information that is disclosed to the Receiving Party by a third party under no obligation of confidentiality to the Disclosing Party and who did not obtain such information by a wrongful or tortuous act; or (e) is authorized by the Disclosing Party in writing for disclosure or release by the Receiving Party. The burden or proving that information may be disclosed because it does not fall within the definition of Confidential Information shall be on the Receiving Party.
        </p>
        <h5>2.2 “Disclosing Party”</h5>
        <p class="card-text">
            means the party disclosing confidential or proprietary information (including its directors, officers, employees and agents) under the Agreement.
        </p>
        <h5>2.3 “Receiving Party”</h5>
        <p class="card-text">
            means the party receiving confidential or proprietary information (including its directors, officers, and employees under this Agreement. 
        </p>

        <h4 class="card-title">3  PERFORMANCE OF AGREEMENT.</h4>
        <p class="card-text">
            The parties agree that it is imperative for each of them that the Confidential Information remain confidential for a period of five (5) years from the last disclosure.  Accordingly, in order to maintain the confidentiality of the Confidential Information, and in consideration of each party’s making it available to the other party, the parties hereby further agree as follows: (a) not to disclose or otherwise reveal, without the Disclosing Party’s prior written consent, any portion of the Confidential Information or any notes, extracts, summaries or other materials derived in any way from the inspection or evaluation thereof by the Receiving Party, except to an independent contractor or a Receiving Party who has a need to know such information solely to further the purpose of this Agreement and who agrees in writing to be bound by the terms of this Agreement or an agreement with terms no less protective of the Disclosing Party’s Confidential Information than this Agreement; (b) not to use the Confidential Information for personal gain or to advance or support its business ventures or the business ventures of third parties, other than for the purposes contemplated by this Agreement and for no other purpose; (c) to protect the Disclosing Party’s Confidential Information as it protects its own Confidential Information of a similar nature, but in any case shall use no less care than reasonable care; (d) the Receiving Party shall not reverse engineer, disassemble or decompile any prototypes, software or other objects which embody the Disclosing Party’s Confidential Information; (e) the Receiving Party undertakes that it will not include the Disclosing Party’s Confidential Information in any application for patent or utility model or design protection in any country filed by or on behalf of the Receiving Party; (f) the Receiving Party shall not use Confidential Information to manufacture or have manufactured by itself or third parties, products that are derived from the Disclosing Party’s Confidential Information; and (g) upon discovery of an unauthorized disclosure, the Receiving Party shall endeavor to prevent further disclosure or use and shall notify the Disclosing Party immediately. Subject to the terms of any signed definition agreement between the parties, the parties understand and agree that neither party has made or makes any representation or warranty as to the accuracy or completeness of the Confidential Information, and that neither party shall have any liability resulting from use of the Confidential Information by the other. 
        </p>

        <h4 class="card-title">4  PERMISSIVE DISCLOSURE.</h4>
        <p class="card-text">
            Notwithstanding any other terms or conditions of this Agreement, the Receiving party may disclose Confidential Information to satisfy a legal demand by the court of competent jurisdiction located in Canada or the United States of America, provided that the Receiving Party first advises the Disclosing Party prior to the disclosure, unless such notice is prohibited by law so that the Disclosing Party may seek appropriate relief from the court order and, provided further, that the Receiving Party shall disclose only that portion of the Confidential Information which is legally required to be disclosed and request confidential treatment of the Confidential Information by the court.
        </p>

        <h4 class="card-title">5  NOTICES.</h4>
        <p class="card-text">
            All notices, requests, demands and other communications under this Agreement must be in writing and will be deemed duly given, unless otherwise expressly indicated to the contrary in this Agreement: (a) when personally delivered; (b) upon receipt of a facsimile transmission with a confirmed telephonic transmission answer back; provided that such notice, request, demand or other communication is also sent by a national recognized overnight courier; (c) three (3) days after having been deposited in the mail, certified or registered, return requested, postage prepaid and addressed as set forth in (d); or (d) one (1) business day after having been dispatched by a nationally recognized overnight courier service, addressed to the party to be notified at the address indicated for such party on the signature page of this Agreement, or at such other address as such party may designate by  five (5) days advance notice to the other party given in the foregoing manner.  For purpose of this Agreement, “business day” means any day that is not a Saturday, Sunday or holiday. 
        </p>

        <h4 class="card-title">6  REPRODUCTION AND RETURN OF CONFIDENTIAL INFORMATION.</h4>
        <p class="card-text">
            The Confidential Information provided or made available by the Disclosing Party shall not be copied or reproduced without the Disclosing Party’s prior written permission, except for such copies as may reasonable be required for internal evaluation.  Upon the first to occur of the request of the Disclosing Party or the termination of this Agreement, the Receiving Party shall, within thirty (30) days of such request of termination, return to the Disclosing Party (or its designees) or certify as destroyed all Confidential Information, in whatever form, including written or electronically recorded information and all copies thereof. 
        </p>

        <h4 class="card-title">7  TERM OF AGREEMENT.</h4>
        <p class="card-text">
            This Agreement shall terminate five (5) years from the Effective Date, unless extended by mutual written agreement. Notwithstanding the foregoing, either party may terminate this Agreement prior to the foregoing date upon thirty (30) days written notice to the other party. 
        </p>

        <h4 class="card-title">8  SURVIVAL.</h4>
        <p class="card-text">
            Section 3, 4, 6, 8, 13 & 14 (and all provisions of this Agreement which may reasonably be interpreted or construed as surviving the termination of this Agreement) shall survive the expiration of this Agreement.
        </p>
        <h4 class="card-title">9  NO LICENSE/COMMITMENT/OBLIGATION.</h4>
        <p class="card-text">
            Neither the execution of this Agreement nor the furnishing of any information hereunder shall be construed by the Receiving Party as granting any license or any other rights other than as set forth herein under any trade secrets, copyrights or patents now or hereafter owned by or controlled by the Disclosing Party, or under any trade secrets, copyrights or patents in which the Disclosing Party in now licensed.  Nothing in this Agreement shall grant to either party the right to make commitment of any kind for or on behalf of the other party without the prior written consent of the other party. This Agreement shall not be construed by either party in any manner to be an obligation to enter into a subsequent agreement of any kind, or to result in any claim of obligation to enter into a subsequent agreement of any kind, or to result in any claim whatsoever by one party against the other party for reimbursement of costs or payment for any efforts expended hereunder. If a subsequent agreement is entered into between the parties, then the terms of the obligation of confidentiality and nondisclosure and the rights of the parties in any developments from such agreement shall be as exclusively set forth therein.
        </p>
        <h4 class="card-title">10  NO PUBLIC ANNOUNCEMENT.</h4>
        <p class="card-text">
            Neither party shall, without the prior written consent of the other party, publicly announce the existence or terms of this Agreement or advertise or release any publicity in regard thereto. 
        </p>
        <h4 class="card-title">11   ASSIGNMENT/BINDING EFFECT. .</h4>
        <p class="card-text">
            Neither party shall assign or transfer any of its rights or obligations hereunder without the prior written consent of the other party, except to a successor in ownership of all or substantially all of the assets of the assigning party if the successor in ownership expressly assumes in writing the terms and conditions of this Agreement.
            Any attempted assignment without written consent will be void.  This Agreement shall inure to the benefit of and shall be binding upon the successors and assigns of the parties.
        </p>
        <h4 class="card-title">12  GOVERNING LAWS.</h4>
        <p class="card-text">
            This Agreement shall be interpreted and construed both as to performance and validity in accordance with and governed by the laws of the Province of British Columbia. Venue and jurisdiction of any claim or action arising out of or related to this Agreement shall exist exclusively in the courts of British Columbia.
        </p>
        <h4 class="card-title">13  REMEDIES.</h4>
        <p class="card-text">
            The receiving Party recognizes and agrees that the Confidential Information is of a special, unique and extraordinary character which gives it a peculiar value the loss of which may not be reasonably or adequately compensated in damages, and that a breach of this Agreement may cause irreparable damage and injury to the Disclosing Party.  The Receiving Party, therefore, expressly agrees that the Disclosing Party shall be entitled to seek injunctive and/or other equitable relief to prevent a breach of the provisions of this Agreement, or any part thereof, in addition to any other remedies available to the Disclosing Party. All remedies available to the Disclosing Party hereunder are cumulative, and may, to the extent permitted by law, be exercised concurrently or separately.  The exercise by the Disclosing Party of any one remedy shall not be deemed to be an election of such remedy or to preclude the exercise of any other remedy.
        </p>
        <h4 class="card-title">12  GOVERNING LAWS.</h4>
        <p class="card-text">
            This Agreement shall be interpreted and construed both as to performance and validity in accordance with and governed by the laws of the Province of British Columbia. Venue and jurisdiction of any claim or action arising out of or related to this Agreement shall exist exclusively in the courts of British Columbia.
        </p>

        <h4 class="card-title">13  GOVERNING LAWS.</h4>
        <p class="card-text">
            This Agreement shall be interpreted and construed both as to performance and validity in accordance with and governed by the laws of the Province of British Columbia. Venue and jurisdiction of any claim or action arising out of or related to this Agreement shall exist exclusively in the courts of British Columbia.
        </p>

        <h4 class="card-title">14  HEADING/WAIVER OF BREACH/SEVERABILITY.</h4>
        <p class="card-text">
            The section headings contained herein are for reference purposes only and shall not affect in any way the meaning or interpretation of this Agreement. Wherever possible, each provision of this Agreement shall be interpreted in such a manner as to be effective and valid under applicable law, but, if any provision hereof shall be prohibited by or held invalid or unenforceable under any such law, such provision shall be ineffective to the extent of such prohibition, invalidity or unenforceability or nullifying the remainder of such provision or any other provision of this Agreement.  The failure to enforce or to require the performance at any time of any of the provisions of this Agreement shall not be construed to be a waiver of any other provisions, and shall not affect either the validity of this Agreement or any part hereof or the right of any party thereafter to enforce each and every provision of this Agreement
        </p>
        <h4 class="card-title">15  EXECUTION IN COUNTERPARTS.</h4>
        <p class="card-text">
            This Agreement may be executed by facsimile and in counterparts, each of which shall, when executed, be deemed to be an original, but all of which together shall constitute one and the same instrument.
        </p>
        <h4 class="card-title">16  AUTHORITY.</h4>
        <p class="card-text">
            Each party represents and warrants that its delivery of this Agreement has been duly authorized by all necessary corporate or other action and that the person signing the Agreement on its behalf is duly authorized to do so. 
        </p>
        <h4 class="card-title">17  ENTIRE AGREEMENT/MODIFICATION.</h4>
        <p class="card-text">
            This Agreement constitutes the entire agreement between the parties supersedes all prior representations, agreements, understandings and arrangements, oral or written, between the parties with respect to the subject matter hereof. This Agreement may not be modified except by a writing that expressly refers to this Agreement and is executed by all parties.
        </p>
        <h4 class="card-title">18  BY CLICKING THE “CHECK” MARK BELOW.</h4>
        <p class="card-text">
            You certify and warrant that you have read, understood, and will comply with the above agreement.
        </p>
         <br />
        <h4 class="card-title">Content Policy </h4>
        <p class="card-text">
            Omnae strives to allow you to “Make Anything” in a way that is scalable and reliable for real world production. However, that aim has its limits. There are certain categories of product that Omnae will not be involved in producing. 
        </p>
        <p class="card-text">
            All product built through the Omnae Website must be the based on the original intellectual property of the account holder, be produced under documented license, or be of a design that is in the public domain. By Uploading production files, you certify and warrant that your design is complient to the above criteria. Omnae and its affiliates will not be held responsible or liable intellectual property claims from third parties. 
        </p>
        <p class="card-text">
            At our sole discretion, we may cancel or refuse production of products that violate this content policy.
        </p>
        <br />
        <h4 class="card-title">Prohibited Items </h4>
        <p class="card-text">
            Omnae does not produce any items that contribute to the core functions of any form of firearm.
            Omnae does not produce any form of offensive or defensive (non-firearm) hand weapon or projectile weapon. 
        </p>







        <h2>Terms and Conditions </h2>
        <h4 class="card-title">1  TERMS</h4>
        <p class="card-text">
            By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
        </p>
        <h4 class="card-title">2  USE LICENSE </h4>
        <p class="card-text">
            Permission is granted to temporarily download one copy of the materials (information or software) on Padtech Global Sourcing’s web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not: 
        </p>
        <p class="card-text">
            This Agreement constitutes the entire agreement between the parties supersedes all prior representations, agreements, understandings and arrangements, oral or written, between the parties with respect to the subject matter hereof. This Agreement may not be modified except by a writing that expressly refers to this Agreement and is executed by all parties.
            <br />
            modify or copy the materials;
            use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
            attempt to decompile or reverse engineer any software contained on Padtech Global Sourcing’s web site; 
            remove any copyright or other proprietary notations from the materials; or
            transfer the materials to another person or “mirror” the materials on any other server.
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by Padtech Global Sourcing at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format. 

        </p>
        <h4 class="card-title">3  DISCLAIMER</h4>
        <p class="card-text">
            The materials on Padtech Global Sourcing’s web site are provided “as is”. Padtech Global Sourcing makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or noninfringement of intellectual property or other violation of rights. Further, Padtech Global Sourcing does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
        </p>
        <h4 class="card-title">4  LIMITATIONS</h4>
        <p class="card-text">
            In no event shall Padtech Global Sourcing or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Padtech Global Sourcing’s Internet site, even if Padtech Global Sourcing or a Padtech Global Sourcing authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you. 
        </p>
        <h4 class="card-title">5  REVISIONS AND ERRATA</h4>
        <p class="card-text">
            The materials appearing on Padtech Global Sourcing’s web site could include technical, typographical, or photographic errors. Padtech Global Sourcing does not warrant that any of the materials on its web site are accurate, complete, or current. Padtech Global Sourcing may make changes to the materials contained on its web site at any time without notice. Padtech Global Sourcing does not, however, make any commitment to update the materials. 
        </p>
        <h4 class="card-title">6  LINKS</h4>
        <p class="card-text">
            Padtech Global Sourcing has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Padtech Global Sourcing of the site. Use of any such linked web site is at the user’s own risk.
        </p>
        <h4 class="card-title">7  SITE TERMS OF USE MODIFICATIONS</h4>
        <p class="card-text">
            Padtech Global Sourcing may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use. 
        </p>
        <h4 class="card-title">8  GOVERNING LAW</h4>
        <p class="card-text">
            Any claim relating to Padtech Global Sourcing’s web site shall be governed by the laws of the Province of British Columbia without regard to its conflict of law provisions.
            General Terms and Conditions applicable to Use of a Web Site. 
        </p>
        <h4 class="card-title">PRIVACY POLICY</h4>
        <p class="card-text">
            Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.<br />
            Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.<br />
            We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.<br />
            We will only retain personal information as long as necessary for the fulfillment of those purposes.<br />
            We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.<br />
            Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.<br />
            We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.<br />
            We will make readily available to customers information about our policies and practices relating to the management of personal information.
            We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
        </p>

    </div>
</div>
