@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">
        <h4 class="card-header primary-background-color white-text text-md-center">
            <i class="fas fa-check"></i> @ViewBag.Title
        </h4>

        <div class="card-block">           
            <div>
                <h5 class="card-text top-margin-30 green-text text-xs-center text-justify">
                    Your password has been reset. Please @Html.ActionLink("click here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to log in.
                </h5>
            </div>
        </div>
    </div>
</div>
