@model Omnae.Model.Models.TaskData

@{
    ViewBag.Title = "Vendor Proofing Started";
}


<div class="row">
    <div class="card-block">
        <h4 class="text-xs-center"><i class="fa fa-check-square fa-2x"></i> Vendor Reacts on Proofing</h4>

        <br />
        @using (Html.BeginForm("ProofingHandler", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            TempData["TaskData"] = Model;

            <div class="md-form">
                <fieldset class="form-group">
                    <input name="group" type="radio" class="with-gap" id="forward" value="forward">
                    <label for="forward">Proofing is complete</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group" type="radio" class="with-gap" id="back" value="back">
                    <label for="back">Proofing is started</label>
                </fieldset>

            </div>
            <div class="md-form text-xs-center top-margin-50">
                <button type="submit" class="btn btn-cyan buttonWidth">Submit</button>
            </div>
        }

    </div>
</div>

