
@{
    ViewBag.Title = "UpdateExistingDatabase";
}
<div class="card-block top-margin-30 offset-md-3 col-md-6">
    <h2 class="green-text text-lg-center">Update Existing Products Table</h2>

    @using (Html.BeginForm("UpdateExistingDatabase", "Home", FormMethod.Post, new
    {
        id = "updateform",
        data_parsley_validate = "",
        enctype = "multipart/form-data",
    }))
    {
        @Html.AntiForgeryToken()
        <div class="md-form text-xs-center">
            <button type="submit" id="submit" class="btn accent-background-color buttonWidth2  top-margin-100">Update</button>
        </div>
    }

</div>

@if (TempData["Result"] != null)
{
    <div class="card-block top-margin-30 offset-md-4 col-md-4">
        <h5 class="green-text text-lg-center">@TempData["Result"].ToString()</h5>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#updateform').submit(function () {
            $('#spinner').show();
        })
    });
</script>

