@model Omnae.ViewModels.UploadVendorsProductsViewModel
@{
    ViewBag.Title = "UploadVendorProducts";
}

<style>
    x::-webkit-file-upload-button, input[type=file]:after {
        content: 'Browse...';
        left: 82%;
    }
</style>

<div class="offset-md-2 col-md-8 top-margin-30">
    <div class="card">
        <h5 class="card-header primary-background-color white-text text-md-center">Upload My Vendor's Products to OMNAE</h5>

        <div class="card-block">
            <div class="offset-md-1 col-md-10">
                @using (Html.BeginForm("UploadVendorProducts", "Home", FormMethod.Post, new
                {
                    id = "uploadVendorProducts",
                    data_parsley_validate = "",
                    enctype = "multipart/form-data",
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <label class="top-margin-20 grey-text">Choose an Excel input data file (*.xlsx) for uploading <span class="green-text">products</span> to OMNAE system <span class="red-text">*</span></label>
                    <div class="upload-border no-padding">
                        <input type="file" name="InputProductsExcel" id="InputProductsExcel" class="no-padding">
                    </div>

                    <div class="text-md-center">
                        <button type="submit" id="submitButton" class="btn accent-background-color buttonWidth2  top-margin-40">Submit</button>
                    </div>

                }

                <div class="top-margin-30 grey-text small"> <span class="red-text">*</span> You may download <a href="https://omnaestg.blob.core.windows.net/documents/UploadProducts.xlsx">
                    Sample Excel Data File</a> as reference on how to create input data file. </div>
                <div class="col-md-12">
                    @if (TempData["Result"] != null)
                    {
                        <div class="green-text text-md-center">@TempData["Result"].ToString()</div>
                    }
                    else if (TempData["ErrorMessage"] != null)
                    {
                        <div class="red-text text-md-center">@TempData["ErrorMessage"].ToString()</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#uploadVendorProducts').submit(function () {
            var fileName = $('#InputProductsExcel').val();
            $('#spinner').show();

            if (fileName == '') {
                alertify.error("Choose an Excel data file ");
                this.submitButton.disabled = false;
                $('#spinner').hide();
                return false;
            }
            else {
                this.submitButton.disabled = true;
                return true;
            }
        })
    });
</script>
