<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://omnae-synchobspotuser.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c276e77-b1a5-4335-991a-54a32710d4ee/resourcegroups/Omnae-production/providers/Microsoft.Web/sites/Omnae-SyncHobSpotUser</ResourceId>
    <UserName>$Omnae-SyncHobSpotUser</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://omnae-synchobspotuser.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>