@model Omnae.ViewModels.PayWithOthersViewModel
@{
    ViewBag.Title = "PayWithWire";
}

<div class="row top">
    <div class="offset-md-3 col-md-6">
        <div class="card">
            <h5 class="card-header rgba-pink-light text-white">Pay with Wire</h5>
            <div class="card-block">
                <p class="card-text">Payable to Omnae.</p>
                <p class="card-text">The payment amount: <span class="green-text font-weight-bold">@string.Format("{0:C}", @Model.Amount)</span> will be made by @Model.CompanyName</p>
            </div>
        </div>
    </div>
</div>


