<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <specFlow>
    <unitTestProvider name="xUnit"/>
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive"/>
    <plugins>
      <add name="SpecFlow.Unity" type="Runtime"/>
    </plugins>
  </specFlow>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <appSettings>
    <!-- Asp.Net MVC Cmnfigurations -->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- Omnae System Cmnfigurations -->
    <add key="mailAccount" value="azure_1802a1f5dade0bab0e44d912d3c030bd@azure.com"/>
    <add key="mailPassword" value="V4n P4tented azz1"/>
    
    <!-- SMS -->
    <add key="SMSAccountIdentification" value="ACf68d8a85b9c1231d634294032be616be"/>
    <add key="SMSAccountPassword" value="6e24842e6437a8f60e19113b70845ec6"/>
    <add key="SMSAccountFrom" value="+16046702914"/>

    <!-- Email -->
    <add key="Mailgun.Domain" value="sandboxf0f73f0f8ce94ec49e0e2e1f55bc4d7f.mailgun.org" />
    <add key="Mailgun.APIKEY" value="ac9b6819825bf320eb3e8ae3bb4e5c57-28d78af2-8b8b478b" />
    <add key="FROM_EMAIL" value="info@omnae.com"/>
    <add key="EMAIL_TO_OMNAE" value="info@omnae.com"/>
    <add key="ACCOUNTING_EMAIL" value="henryma14@gmail.com"/>
    
    <add key="stripe_secrit_key" value="sk_test_NJ4opv1kdKu7eViK1WTk06zt"/>
    <add key="stripe_public_key" value="pk_test_dKZMvLzO0REhoomw0L7KA77y"/>
    
    <!--Blob Storage in Azure-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=omnaedev;AccountKey=GQIrfDfeqfK7QuWXqpv7dqvzyymSWK5n4NaG/AAITr3ukAXdJwEHIamxmkj1bWgR19B2ZzB4l9AuPG2UOKokyg==;EndpointSuffix=core.windows.net" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=omnaedev;AccountKey=/rG7QvJcvm4unITDHa/iPKOp6ogskWS5EtcBaUYq6QWGn15/PrOryUmhaiYyjhbM1VMo5okCaaYKCtwsLJHPTw==;EndpointSuffix=core.windows.net"/>
    <add key="StorageContainer" value="documents"/>
    <add key="ImageStorageContainer" value="images"/>
    
    <!--Azure Storage Lib-->
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[account-name];AccountKey=[account-key]"/>
    <add key="BlobStorageContainerName" value="[container-name]"/>
    <add key="AdminId" value="009f02f8-beff-4ba0-bdf0-eebc49c8dc6e"/>
    <add key="AdminEmail" value="hma+100@padtech.com"/>
    <add key="AdminPhone" value="6047815632"/>
    <add key="AdminPass" value="OmnaeAdmin@12345"/>
    <add key="ShippoToken" value="shippo_test_c33a8b0115c148b7f08881a3660175318b83a7b7"/>
    <add key="GST" value="5%"/>
    <add key="GST_VALUE" value="0.05"/>
    <add key="ON_HST" value="13%"/>
    <!--<add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Omnae" />-->
    <add key="DaysToExpire" value="7"/>
    <add key="MaxIconsInFirstOrderParts" value="12"/>
    <add key="MaxIconsInGrid" value="6"/>
    <add key="TermAndCondition" value="Omnae.TOS.pdf"/>
    <!--DHL XML PI-->
    <add key="DHLWebApi" value="https://xmlpi-ea.dhl.com/XMLShippingServlet"/>
    <add key="DHL_SiteID" value="PADTECH"/>
    <add key="DHL_Password" value="IKOisxW8ac"/>
    <add key="DHL_Padtech_Payment_Account" value="952694830"/>
    <add key="MessageReference" value="0987654321098765432109876543"/>
    <add key="TrackingRequest" value="TrackingRequest_ByWaybill.xml"/>
    <add key="USD_CAD_ExchangeRate" value="1.26"/>
    <!--<add key="QuoteRequest" value="Valid13_Quote_IMPPricebyReceiver_Request.xml" />-->
    <add key="QuoteRequest" value="QuoteRequest.xml"/>
    <add key="WriteToTrackingRequest" value="CreatedTrackingRequest.xml"/>
    <add key="WriteToQuoteRequest" value="CreatedQuoteRequest.xml"/>
    <add key="URL" value="http://localhost/omnae/"/>
    <!-- ATrigger API Key -->
    <add key="ATrigger_API_Key" value="4773451726959535072"/>
    <add key="ATrigger_API_Secret" value="kFCrv1C3xCwJ1b6OLScOkCq47p2G49"/>
    <add key="RevisionRequestTimer" value="RevisionRequestTimer"/>
    <add key="BidTimer" value="BidTimer"/>
    <!-- Qantity List Length -->
    <add key="QuantityLength" value="7"/>
    <!-- QuickBooks -->
    <!--used to mantain session on async calls-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="DiscoveryAuthority" value="https://oauth.platform.intuit.com/op/v1"/>
    <!--sandbox-->
    <add key="redirectUrl" value="http://localhost/QBOCallback"/>
    <!--dev/stg-->
    <add key="clientId" value="Q0JJ8FeVOYgFdLXxNoS00orktFqbiHkB5vygC7AHXxL1oWsDc9"/>
    <add key="clientSecret" value="ivSTpYn7Jq3e8k3FBhxzGFBCXD5KH8a5YdMTGAMM"/>
    <add key="DiscoveryUrl" value="https://developer.api.intuit.com/.well-known/openid_sandbox_configuration/"/>
    <add key="BaseUrl" value="https://sandbox-quickbooks.api.intuit.com"/>
    <add key="RefreshToken" value="Q011537659635CNBSbfBNqWaqP7ZPOMJqK5gEusDwOFKifdDGI"/>
    <!--app-->
    <!--<add key="clientId" value="Q0r0yY5XmkqIXklI7nUe1RqYM9cBjCOArPvBg2NpmOANzO1tJv" />
    <add key="clientSecret" value="FYjywSwSJ1VqCqSxZOHazCxUTIedWLqIaDh1BcnS" />
    <add key="DiscoveryUrl" value="https://developer.api.intuit.com/.well-known/openid_configuration/" />
    <add key="BaseUrl" value="https://quickbooks.api.intuit.com" />
    <add key="RefreshToken" value="Q011545676542VKWiH1gJFTa1nHI6aC7GeUvHcuZDLNZhg7awf" />-->
    <add key="initialAccessToken" value="eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..t55p-g4G6tDlyUGqoqkPxg.tUJ7uVGO4j4KorpJXanbJcnV1I31G3lZdpA7XE5rw2Z3Vx91WwJwfzX1fhh0Rz5mNa6ZFeNMps2KdGYWJZuAkBKvuELkW6ODtAgqwn6k4M3ZVY-SdOaDIkt3DU0egiHb7LKrtBIeuAw-g3wMhL4_udNNorw_lVgCPzlojHLPiFvz5q_VU_fhlucf5PNwqZ959kSyi1CrMb4DvO7hF5CjcWz2Rnt07kPwIjTW2VsdQZFB2-U7WSLTZFzlvtLoZhL7RA8P4uSf1324cMMS_v5H_EeCfIO5qCjOlXTOdL_bhtJr7TBdPVlBaA_4GWXonrIT2mTJDlDeQI6u8Yt1sf3-uXQ6h01_uMg31jyuY-VaZZoM_3BCMJKwUM1ZZxSx3ypeoG8BsPz2eNz4RHUP7Hr9533GZqJKU8oov7T82GyZYchzc_D-DqJlZe9Bzz0Y7xHn1iHcQJH_dlEA51QXmsqcB0QzX99Ex9RzgK5iMDAKIsIWFBLeAGSNilg0LudkeqEuKq1_9P0m7YzEVLtSaySHHv3H6bDjE3DEvgf1081R0gH_CRGNY2cIdMw625H9Iezx_xgwuhWlVOL8kBWRtnTLi1Ble-OMvZVG0rNmVvB9jT2Yav8EYKW8WZxGPe-spFXLI1r1DCn8SO4efcox_jy1_qOt5dNQYlRRGA2U5uKAUxnorDo4lE1Nc55Q9rrUtifLBNpgF6jPPukJTuNxJSqpnTEojHtI1ka6IuoUstmCuErdpgXxoujRkICfyJVFNBxE90oQs-TrDKGURekwRcNUjW1zQs6_XnDK3Gu7Rs4bH-yzrZhw2MBIYcmgv3oOu5JD.AZQmmAd_BhwFcjW0-9BOJQ"/>
    <add key="initialRefreshToken" value="Q011545854223c0j8Cyt8OFjvE33aebB0NZWaIXsZijEoPe5NL"/>
    <add key="initialRealmId" value="123146066340824"/>
    <add key="initialTokenEndpoint" value="https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer"/>
    <!--withing x days treat as duplicate order -->
    <add key="daysForDuplicateOrder" value="3"/>
    <add key="DefaultVendorPassword" value="ChangeMe!355"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
