@{
    ViewBag.Title = "Login Failure";
}

<hgroup class="grey-text">
    <h2 class="text-xs-center">@ViewBag.Title.</h2>
    <h4 class="text-xs-center text-danger">Unsuccessful login with service.</h4>
</hgroup>
