<div class="col-md-12 card-header default-color pull-left white-text status-title">
    <span class="col-md-3 no-padding">
        <span class="col-md-4 no-padding">Avatar</span>
        <span class="col-md-8 no-padding">Part # Rev. Name</span>
    </span>
    <span class="col-md-1 no-padding">Customer</span>
    <span class="col-md-1 no-padding">Order Date</span>
    <span class="col-md-1 no-padding">Lead Time</span>
    <span class="col-md-1 no-padding">Qty</span>
    <span class="col-md-1 no-padding">Unit Price</span>
    <span class="col-md-1 no-padding">PO #</span>
    <span class="col-md-3 no-padding">
        <span class="col-md-6">State</span>
        <span class="col-md-3">St. Icon</span>
        <span class="col-md-3">Details</span>
    </span>

</div>
