<div class="col-md-12 card-header default-color pull-left white-text status-title">
    <span class="col-md-1">Avatar</span>
    <span class="col-md-2">P/N, Revision, Name</span>
    <span class="col-md-2">State Transition</span>
    <span class="col-md-1">Unit Price</span>
    <span class="col-md-1">Quantity</span>
    <span class="col-md-1">PO #</span>
    <span class="col-md-1">Action</span>
    <span class="col-md-1">State</span>
    <span class="col-md-2">
        <span class="col-md-6">St. Icon</span>
        <span class="col-md-4">Details</span>
        <span class="col-md-1">Tag</span>
    </span>
</div>
