@model Omnae.BusinessLayer.Models.TaskViewModel

@using Omnae.ViewModels

<!-- Modal -->
<div class="modal" id="@($"Modal_List{Model.TaskData.TaskId}")" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->

            @{ Html.RenderPartial("_ModalHeader", Model.TaskData); }

            <!--Body-->

            @{ Html.RenderPartial("_ModalBody", new TaskDataModalViewModel { TaskVM = Model }); }

            <!-- Footer -->

            @{ Html.RenderPartial("_ModalFooter", Model.TaskData); }

        </div>
        <!--Footer-->
        @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
    </div>
    <!--/.Content-->
</div>

