
<div class="col-md-12 card-header default-color pull-left white-text status-title">
    <span class="col-md-1">Avatar</span>
    <span class="col-md-1">Part Name/PN</span>
    <span class="col-md-1">Created</span>
    <span class="col-md-2">State Transition</span>
    <span class="col-md-1">Unit Price</span>
    <span class="col-md-1">Quantity</span>
    <span class="col-md-1">Action</span>
    <span class="col-md-2">State</span>
    <span class="col-md-2">
        <span class="col-md-6">State Icon</span>
        <span class="col-md-3">Detail</span>
        <span class="col-md-3">Tag</span>
    </span>
</div>