@model IEnumerable<Omnae.BusinessLayer.Models.TaskViewModel>

<style>
    #grid1, .listview1, .show1, #action-indicator1 {
        display: none;
    }
</style>

<div class="card-block">
    <div class="col-lg-12">
        <h4 class="col-md-9">RFQs</h4>
        <a id="action-indicator1" class="col-md-1 red-text" title="There are new action event need your attention, click show to find out!">
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        </a>
        <div class="col-md-2 small-button" style="float:right; width:150px;">
            <a class="col-md-6 switcher small-button listview1 green-text"><i class="fas fa-list-ul fa-2x"></i></a>
            <a class="col-md-6 switcher active small-button gridview1 pink-text"><i class="fas fa-th fa-2x"></i></a>
            <a class="col-md-6 switcher small-button show1 green-text"><i class="fas fa-eye fa-2x"></i></a>
            <a class="col-md-6 switcher small-button hide1 pink-text"><i class="fas fa-eye-slash fa-2x"></i></a>
        </div>
        <br />
        <hr class="gradient" />
    </div>
    @if (Model?.Any() == true)
    {
        <div id="grid1" class="card-block">
            @foreach (var tdvm in @Model)
            {
                Html.RenderPartial("_VendorLandingGridView", tdvm);
            }
        </div>

        <div id="list1" class="card-block">
            <div class="col-md-12">

                @Html.Partial("_DashboardVendorRowColumnNames")
                @foreach (var tdvm in Model)
                {
                    Html.RenderPartial("_VendorLandingListView", @tdvm);
                }
            </div>
        </div>

        foreach (var tdvm in Model)
        {
            <div class="modal" id='Modal@(tdvm.TaskData.TaskId)' tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
        }
    }
</div>

