@model IEnumerable<Omnae.BusinessLayer.Models.TaskViewModel>

<style>
    #grid2, .listview2, .show2, #action-indicator2 {
        display: none;
    }
</style>

<div class="card-block">
    <div class="col-lg-12">
        @if (ViewBag.Title == "DisplayVendorProducts")
        {
            <h4 class="col-md-9">Vendor Products</h4>
        }
        else
        {
            <h4 class="col-md-9">ORDERs</h4>
        }

        <a id="action-indicator2" class="col-md-1 red-text" title="There are new action event need your attention, click show to find out!">
            <i class="fas fa-exclamation-triangle"></i>
        </a>
        <div class="col-md-2 small-button" style="float:right; width:150px;">
            <a class="col-md-6 switcher small-button listview2 green-text"><i class="fas fa-list-ul fa-2x"></i></a>
            <a class="col-md-6 switcher active small-button gridview2 pink-text"><i class="fas fa-th fa-2x"></i></a>
            <a class="col-md-6 switcher small-button show2 green-text"><i class="fas fa-eye fa-2x"></i></a>
            <a class="col-md-6 switcher small-button hide2 pink-text"><i class="fas fa-eye-slash fa-2x"></i></a>
        </div>
        <br />
        <hr class="gradient" />
    </div>
    @if (Model?.Any() == true)
    {
        <div id="grid2" class="card-block">

            @foreach (var tdvm in Model)
            {
                if ((tdvm.TaskData.StateId >= (int)States.ProofingStarted && tdvm.TaskData.StateId < (int)States.ReOrderInitiated && tdvm.Order.UnitPrice > 0m) ||
                    (tdvm.TaskData.StateId == (int)States.ProductionStarted && tdvm.Order.UnitPrice == null))
                {
                    continue;
                }
                else
                {
                    Html.RenderPartial("_VendorLandingGridView", tdvm);
                }

            }
        </div>

        <div id="list2" class="card-block">
            <div class="col-md-12">

                @Html.Partial("_DashboardVendorRowColumnNames")
                @foreach (var tdvm in Model)
                {
                    if ((tdvm.TaskData.StateId >= (int)States.ProofingStarted && tdvm.TaskData.StateId < (int)States.ReOrderInitiated && tdvm.Order.UnitPrice > 0m) ||
                        (tdvm.TaskData.StateId == (int)States.ProductionStarted && tdvm.Order.UnitPrice == null))
                    {
                        continue;
                    }
                    else
                    {
                        Html.RenderPartial("_VendorLandingListView", @tdvm);
                    }
                }
            </div>
        </div>

        foreach (var tdvm in @Model)
        {
            <div class="modal" id='Modal@(tdvm.TaskData.TaskId)' tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
        }
    }
</div>
