<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <!--<add name="DefaultConnection"
      connectionString="Data Source=tcp:omnaedev.database.windows.net,1433;Initial Catalog=OmnaeDbDev;Persist Security Info=False;
                          User ID=hma14@omnaedev.database.windows.net;Password=Password=Bilibalabon12345;MultipleActiveResultSets=False;
                          Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="OmnaeDbContext"
      connectionString="Data Source=tcp:omnaedev.database.windows.net,1433;Initial Catalog=OmnaeDbDev;Persist Security Info=False;
                          User ID=hma14@omnaedev.database.windows.net;Password=Password=Bilibalabon12345;MultipleActiveResultSets=False;
                          Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  <appSettings>

    <add key="stripe_secrit_key" value="sk_test_NJ4opv1kdKu7eViK1WTk06zt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="stripe_public_key" value="pk_test_dKZMvLzO0REhoomw0L7KA77y" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminId" value="009f02f8-beff-4ba0-bdf0-eebc49c8dc6e"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DHLWebApi" value="https://xmlpitest-ea.dhl.com/XMLShippingServlet" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="URL" value="https://dev.omnae.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
