<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->

  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=tcp:omnaestg.database.windows.net,1433;Initial Catalog=OmnaeDbStg;
                          User ID=hma14@omnaestg.database.windows.net;
                          Password=Bilibalabon12345" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="OmnaeDbContext"
      connectionString="Data Source=tcp:omnaestg.database.windows.net,1433;Initial Catalog=OmnaeDbStg;
                          User ID=hma14@omnaestg.database.windows.net;
                          Password=Bilibalabon12345" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=tcp:omnae.database.windows.net,1433;Initial Catalog=OmnaeDb;
                          User ID=hma14@omnae.database.windows.net;
                          Password=Bilibalabon12345" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="OmnaeDbContext"
      connectionString="Data Source=tcp:omnae.database.windows.net,1433;Initial Catalog=OmnaeDb;
                          User ID=hma14@omnae.database.windows.net;
                          Password=Bilibalabon12345" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->


  <appSettings>
    <!--<add key="stripe_secrit_key" value="sk_live_8XfE45Zgzjgc4ChgJ67ru3jJ" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="stripe_public_key" value="pk_live_GKGbwLJf8UKNzK3n5zlcAfxO" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ShippoToken" value="shippo_live_d32d7233ad75f155b767fa1e7f499bfe0fc84e21" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->

    <add key="stripe_secrit_key" value="sk_live_8XfE45Zgzjgc4ChgJ67ru3jJ"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="stripe_public_key" value="pk_live_GKGbwLJf8UKNzK3n5zlcAfxO"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=omnae;AccountKey=6J2h97SKjIF9retOC/bAuYBsYFmiHLCONAwWODk85Mp/mU3gMmhoBSviRHmxAviuGDG6gAiFsXURds+uqzjynQ==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminId" value="dfcff2e5-3100-4995-b997-7a48d5a962ac"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DHLWebApi" value="https://xmlpi-ea.dhl.com/XMLShippingServlet" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--<add key="URL" value="https://dev.omnae.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="redirectUrl" value="https://dev.omnae.com/QBOCallback"  xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

    <!--<add key="AdminEmail" value="slo@padtech.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminPhone" value="6049464799" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
