@model Omnae.Model.Models.Product

<div class="row top">
    <div class="offset-md-4 col-md-4">
        <div class="card">
            <h5 class="card-header rgba-pink-light white-text">Selected Product Material Detail</h5>
            <br />
            <div class="card-block">
                <dl class="dl-horizontal">
                    @Html.Partial("_Details")
                </dl>
            </div>
        </div>
    </div>
</div>