

.my-button-pos {
    margin-top: 100px;
    width: 50%;
}

button .my-button {
    width: 50%;
    height: 15px;
}

.top {
    margin-top: 80px;
    /*min-height: 600px;*/
    position: initial;
}

.top2 {
    margin-top: 200px;
    /*min-height: 700px;*/
    position: initial;
}

.my-form-control {
    margin-left: 150px !important;
    width: 70% !important;
}

.buttonWidth {
    width: 250px;
}

.buttonWidth2 {
    width: 200px;
}

.buttonWidth3 {
    width: 160px;
}

.navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar-nav > li.active {
    color: antiquewhite;
}

.navbar-nav > li > a:hover {
    transition: .35s;
    color: #607D8B !important;
    background-color: blanchedalmond;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

        .navbar-nav > li > a.btn {
            font-size: 1rem !important;
        }

    #shrinkbutton {
        padding: 0px !important;
    }

    #navigationbar {
        padding: 0px !important;
    }

        #navigationbar li a {
            padding: 5px !important;
            float: left;
            margin: 0px !important;
        }

    .container-fluid {
        padding: 0px !important;
    }
}

div#secondnav.row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

div#secondnav.navbar-nav > li > a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 10px !important;
}

#secondnav.navbar-nav > li > a {
    padding-top: 30px !important;
    margin-top: 30px !important;
}

a.dropdown-item:hover {
    color: white !important;
    background-color: burlywood !important;
}

a.dropdown-item {
    font-size: 0.8em;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

div#shrinkbutton .dropdown-toggle::after {
    border-top: 0em none !important;
    border-right: 0em none transparent !important;
    border-left: 0em none transparent !important;
}

.wrapper .dl-horizontal dt {
    width: 150px !important;
    text-align: left;
    margin-left: 0px !important;
}

.wrapper .dl-horizontal dd {
    margin-left: 0px !important;
    text-align: left;
    text-decoration: none !important;
}

.dl-horizontal dd span {
    /*margin-left: 105px !important;*/
    text-align: left;
}

.h5, h5 {
    font-size: 1.2em !important;
}

.top-margin-65 {
    margin-top: 65px !important;
}


.top-margin-50 {
    margin-top: 50px;
}

.top-margin-55 {
    margin-top: 55px;
}

.top-margin-45 {
    margin-top: 45px;
}

.top-margin-40 {
    margin-top: 40px;
}

.top-margin-30 {
    margin-top: 30px;
}

.top-margin-35 {
    margin-top: 35px;
}

.top-margin-20 {
    margin-top: 20px;
}

.top-margin-10 {
    margin-top: 10px;
}

.top-margin-15 {
    margin-top: 15px;
}


.top-margin-5 {
    margin-top: 5px;
}

.top-margin-100 {
    margin-top: 100px !important;
}


.bottom-margin-30 {
    margin-bottom: 20px !important;
}

.right-margin-10 {
    margin-right: 10px !important;
}

.top-padding-80 {
    padding-top: 80px;
}

.top-padding-10 {
    padding-top: 10px !important;
}


.no-margin {
    margin: 0;
}

table.grid-table tr.grid-row-selected a.dropdown-menu2 {
    color: darkgreen !important;
    font-size: smaller;
}

table.grid-table button {
    font-size: small;
}

table.grid-table tr.grid-row-selected button {
    color: white !important;
}


.small-button {
    font-size: 0.7rem !important;
}

.single-line {
    width: 90% !important;
}

.file-field {
    width: 100%;
}

/*.card img, .comments-list img, .img-fluid, .reply-form img, .section .view, .section img*/
.card img, .comments-list img, .reply-form img, .section .view, .section img {
    height: 60px !important;
}

.view img, .img-fluid img {
    height: 200px !important;
}

.nav-link {
    padding: 0px !important;
}

.nav-tabs .nav-link
/*.nav-tabs > li > a*/ {
    display: block;
    border: 0px solid transparent !important;
    background-color: #607D8B !important;
    color: white !important;
    /*width:100%!important;*/
}


    /*nav-tabs > li > a:hover*/
    .nav-tabs .nav-link:hover {
        color: #fff !important;
        background-color: #455A64 !important;
    }


    .nav-tabs .nav-link.active {
        color: #607D8B !important;
        background-color: #fff !important;
    }

.my-min-height {
    min-height: 50px;
}


.btn {
    color: white !important;
}




@media screen and (max-width: 768px) {
    #menu, #submenu {
        width: 1.4em;
        display: block;
        font-size: 1.35em;
        text-align: center;
        cursor: pointer;
    }

    .col-md-12 {
        float: left;
        /*width: 100%;*/
    }

    #nav.js {
        display: none;
        background-color: #607D8B;
    }

    #secondnav.js {
        display: none;
    }

    ul {
        width: 100%;
    }

    li {
        width: 100%;
        border-right: none;
    }

    .card-data {
        text-align: left !important;
        min-height: 60px !important;
    }

    .my-tag {
        margin-right: 10px !important;
        margin-top: 5px !important;
        text-align: right;
    }

    .my-icon {
        padding-right: 5px !important;
        text-align: right !important;
    }

    .line span {
        float: left;
        /*width: 100%;*/
        text-align: left !important;
        padding-left: 0px;
    }

    .line div {
        float: left;
        /*width: 100%;*/
        text-align: left !important;
        padding-left: 0px;
    }

    .line a {
        float: left;
        text-align: left !important;
        /*width: 100%;*/
        padding-left: 0px;
    }


    .collapse > ul > li {
        float: left;
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

        .collapse > ul > li > a {
            float: left !important;
            padding-left: 0px !important;
            margin-left: 0px !important;
        }

    .dropdown {
        padding-left: 0px !important;
    }

        .dropdown a {
            float: left !important;
            padding-left: 0px !important;
            margin-left: 0px !important;
        }

        .dropdown div {
            text-align: left !important;
            padding-left: 0px !important;
            margin-left: 0px !important;
        }

        .dropdown.dropdown-menu {
            float: left !important;
            position: relative;
            padding-left: 10px !important;
        }

    .dropdown {
        margin-top: 20px !important;
    }

    .ddl {
        clear: both;
        float: left;
        padding-left: 0px !important;
    }

    .primary-background-color {
        background-color: #607D8B !important;
        color: #FFFFFF !important;
    }
}

@media screen and (min-width: 768px) {
    #menu, #submenu {
        display: none;
    }
}


div#subnavbar .card-block input {
    padding: 0 !important;
}



.card-image-height {
    height: 220px;
}


.card-image-height-order-details {
    height: auto !important;
}

.card-image-min-height {
    min-height: 360px;
}

.card-image img {
    position: center;
    vertical-align: middle;
    padding-top: 50px;
}


.card-data {
    background-color: #00695c !important;
    color: white !important;
    padding: 0 !important;
    padding-top: 5px !important;
    text-align: center;
    min-height: 50px !important;
}

    .card-data span a {
        color: white !important;
    }


.action-flag {
    cursor: pointer;
}

div#action-meaning {
    position: absolute;
    display: none;
    color: orangered;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 45%;
    /*margin-left: -50px;*/ /* half width of the spinner gif */
    /*margin-top: -50px;*/ /* half height of the spinner gif */
    text-align: center;
    z-index: 1234;
    width: 100px !important; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.part-number, .order-details {
    text-decoration: none;
    color: white;
}

    .part-number:hover, .order-details:hover {
        color: yellow;
        cursor: pointer;
    }

.file-field {
    margin: 0px !important;
    padding: 0px !important;
    height: 40px !important;
}

    .file-field .btn {
        margin: 0px !important;
        padding: 0px !important;
        /*height:40px!important;*/
    }

.modal-content .card-data {
    /*background-color: #607D8B !important;*/
}



.primary-background-color {
    background-color: #607D8B !important;
    color: #FFFFFF !important;
}


.dark-primary-background-color {
    background-color: #455A64;
}

.text-icons-color {
    color: #FFFFFF;
}

.secondary-text-color {
    color: #757575;
    font-weight: bolder;
}

.dark-text-color {
    color: #212121;
}

.accent-background-color {
    background-color: #8BC34A;
    /*background-color:azure;*/
}

.grey-background-color {
    background-color: #f7f7f7;
    color: black !important;
}

#second-navbar.navbar {
    background-color: #feffff !important;
}

#ddlDistributes.btn-secondary {
    background-color: aquamarine;
}

#ddlFilterUser.btn-secondary, #ddlFilterProduct.btn-secondary,
#ddlFilterYear.btn-secondary, #ddlAction.btn-secondary, #ddlFilter.btn-secondary, #btnCancelFilter.btn-secondary {
    background-color: #f7f7f7 !important;
    color: black !important;
}

#milestone {
    color: #425963;
}

.next-states span .fa {
    color: #425963 !important;
}





.gradient {
    width: 98%;
    border: 0;
    display: block;
    border: none;
    color: white;
    height: 5px;
    background: grey;
    /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 750, from(#000), to(#fff));*/
}

/*.gradient {
    width:98%;
    height:5px;
    border:0;
    
    background-image:-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(192,192,192,1)), to(rgba(192,192,192,0))),
                    -webkit-gradient(linear, 0% 50%, 0% 100%, from(rgba(192,192,192,0)), to(rgba(192,192,192,1))),
                    url(http://i41.tinypic.com/omwky.gif);
    background-repeat:repeat-x,repeat-x, repeat-x;
    }*/




.line {
    padding-top: 10px;
    padding-bottom: 10px;
}

    .line section {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .line span {
        /*padding-left: 5px !important;*/
        padding-right: 0px !important;
    }



    .line:nth-child(odd) {
        background: #e8eaf6 !important;
    }

    .line:nth-child(even) {
        background: #e3f2fd !important;
    }


/*.tabs-wrapper .nav-item*/
.tabs-4 li, .tabs-3 li {
    padding-left: 15px;
}

.tabs-3 li {
    width: 33.1%;
}

.fileupload {
    padding-left: 15px;
    padding-right: 15px;
}

body .my-card-text {
    display: none;
}

.btn-in-card-left {
    position: absolute;
    bottom: 50px;
    left: 2px;
}

.btn-in-card {
    position: absolute;
    bottom: 50px;
    right: 2px;
}

#top-action-flag {
    display: none;
}

.my-pull-right {
    float: right !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-bottom: 0 !important;
    text-align: right;
}

.grid-min-height {
    min-height: 130px !important;
}

.no-padding {
    padding: 0px !important;
}

/*.padding-off {
    padding: 0 !important;
    padding-top: 5px !important;
    line-height: 1em !important;
}

    .padding-off:first-child {
        padding-left: 5px !important;
        text-align: left;
    }*/

.margin-off {
    margin: 0 !important;
}

.my-icon {
    padding-top: 10px !important;
    /*padding-bottom: 8px !important;*/
    text-align: right !important;
    padding-right: 8px !important;
    line-height: 1em !important;
    height: 60px;
    width: 60px;
}

.my-h5 {
    font-size: 1.2em;
}


/* This style should explicitly set your navbar to a certain height */
.navbar, .navbar-brand, .navbar-header {
    min-height: 45px;
    max-height: 45px;
    height: 45px;
}

    .navbar .navbar-brand {
        padding: 0px !important;
    }

    .navbar .navbar-toggle {
        padding: 4px 10px;
    }


.tabs-5 {
    width: 19% !important;
}


.nav {
    padding-left: 10px !important;
}

.dropdown-menu > li > a:hover {
    color: white;
    background-color: burlywood;
}

.mysubmenu {
    width: 18% !important;
    margin-left: 2px;
    margin-right: 2px;
}

    .mysubmenu ul {
        padding: 0px !important;
        margin-top: 0px;
    }

    .mysubmenu a {
        margin: 0px !important;
    }

    .mysubmenu ul {
        margin: 0px !important;
    }

fieldset.scheduler-border {
    border: 1px groove grey !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}


[type=radio]:checked, [type=radio]:not(:checked) {
    display: block;
    position: relative !important;
    left: 0px !important;
    visibility: visible !important;
    float: left !important;
    clear: none !important;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    /*border: 2px solid #004c97!important;
    background-color: transparent;*/
}


.hidden {
    display: none;
}

.shown {
    display: block;
    visibility: visible;
}


.info:hover::before {
    content: attr(titl);
    /*position: absolute;
  border: 1px solid black;
  background: yellow;*/
    display: block;
    position: absolute;
    z-index: 99999;
    width: 400px;
    padding: 10px;
    background: #8BC34A;
    color: #ffffff;
    /*border: 1px solid #4D4F53;*/
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    font-size: small;
    cursor: pointer;
}


.my-margin {
    margin-top: 8px;
    margin-right: 0px;
}


vr {
    display: block;
    width: 2px;
    background-color: bisque;
    position: absolute;
    top: 120px;
    bottom: 150px;
    left: 50%;
}


.puduct-detail-min-height {
    min-height: 747px;
}

.productInfo {
    font-size: 0.8em;
}

.multiline {
    white-space: pre-wrap;
}


.modal-backdrop {
    opacity: 0.3 !important;
}

body {
    padding-right: 0px !important;
}

.modal-open {
    overflow: hidden !important;
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

/* File Upload control*/

.upload-border {
    border: 1px solid gray;
    /*width: 378px;*/
    width: 100%;
}

input[type=file] {
    width: 100%;
    padding: 2px 11px 3px;
}

    input[type=file]::-webkit-file-upload-button {
        width: 0;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        border: none;
        border: 0px;
    }

    x::-webkit-file-upload-button, input[type=file]:after {
        content: 'Browse...';
        left: 74%;
        margin-left: 3px;
        position: absolute;
        -webkit-appearance: button;
        padding: 0px 51px 1px;
        border: 0px;
    }


@media screen and (max-width: 991px) {
    .columns {
        height: 500px;
        overflow-y: scroll;
    }

        .columns li {
            margin: 10px;
        }

            .columns li a {
                font-weight: 700;
            }

            .columns li.active a {
                color: blanchedalmond !important;
                background-color: cadetblue !important;
            }
}

@media screen and (min-width: 992px) {
    .columns {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
        left: -300% !important;
        margin-top: 1px !important;
        right: 0 !important;
        width: 400%;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

        .columns li {
            margin: 0 20px 10px 20px;
        }

            .columns li a {
                font-weight: 600;
            }

            .columns li.active a {
                color: blanchedalmond !important;
                background-color: cadetblue !important;
            }

    .multi-columns {
        -moz-column-count: 5; /* Firefox */
        -webkit-column-count: 5; /* Safari and Chrome */
        column-count: 5;
        left: -400% !important;
        margin-top: 1px !important;
        right: 0 !important;
        width: 700%;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

        .multi-columns li {
            margin: 0 20px 10px 20px;
        }

            .multi-columns li a {
                font-weight: 600;
            }

            .multi-columns li.active a {
                color: blanchedalmond !important;
                background-color: cadetblue !important;
            }

    .dropdowns {
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
        column-count: 1;
        left: -50% !important;
        margin-top: 1px !important;
        right: 0 !important;
        width: 150%;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

        .dropdowns li {
            margin: 0 20px 10px 20px;
        }

            .dropdowns li a {
                font-weight: 600;
            }

            .dropdowns li.active a {
                color: blanchedalmond !important;
                background-color: cadetblue !important;
            }

        .dropdowns.shorter {
            left: 0 !important;
            width: 100%;
        }

    .orderdetail-min-height {
        min-height: 550px !important;
    }

    .detail-min-height {
        min-height: 306px !important;
    }



    .single-column {
        -moz-column-count: 1; /* Firefox */
        -webkit-column-count: 1; /* Safari and Chrome */
        column-count: 1;
        margin-top: 1px !important;
        right: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

        .single-column li {
            margin: 0 20px 10px 20px;
        }

            .single-column li.inactive a {
                font-weight: 600;
            }

            .single-column li.active a {
                color: blanchedalmond !important;
                background-color: cadetblue !important;
            }
}
