
<div class="offset-md-4 col-md-4">
    <p class="text-xs-center">
        <i class="fa fa-cloud-download fa-2x"></i>   <a href="@ViewBag.link" class="text-link">Click to Download</a>
    </p>
</div>

